<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="_content/Syncfusion.Blazor.Themes/bootstrap5.3.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["app-theme-ava.css"]" />
    <link rel="stylesheet" href="@Assets["control-checkbox.css"]" />
    <link rel="stylesheet" href="@Assets["control-grid.css"]" />
    <link rel="stylesheet" href="@Assets["AVAIntegrationModeler.Web.SyncfusionApp.styles.css"]" />
	<link href="syncfusion-blazor-icons.css" rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/png" sizes="16x16" href="https://avaplace.com/api/asol/cnt/api/v1/PublicFiles/Path/ASOLEU-FAVICONS/favicon-16x16">
	<title>AVA intergration modeler</title>
    <HeadOutlet />

<script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
